<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="main">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Age</th>
            <th scope="col">Phone</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <th>{{ user.first_name }}</th>
            <td>{{ user.last_name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.phone_number }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if users.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ users.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item"><a disabled="disabled" class="page-link" href="#">{{ users.number }}</a></li>
            {% if users.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ users.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
</body>
</html>